<!--<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
  {{obterNome()}}
</body>
</html>-->


  <div class="">

    <h1 class="h4 text-center">Cadastro de Paciente</h1>

    <form>

      <div class="row">

        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputNome" class="control-label">Nome</label>
            <input id="inputNome" type="text" class="form-control"  [(ngModel)] ="Nome" />
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputSobreNome" class="control-label">Sobre Nome</label>
            <input id="inputSobreNome" type="text" class="form-control" [(ngModel)] ="paciente.sobreNome" />
          </div>
        </div>

      </div>


      <div class="row">

        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputcpf" class="control-label">CPF</label>
            <input id="inputcpf" type="text" class="form-control" [(ngModel)] ="paciente.cpf" />
          </div>
        </div>

        <div class="col-sm-3">
          <div class="form-group">
            <label for="inputSexo" class="control-label">Sexo</label>
            <!--<input id="inputSexo" type="text" class="form-control" />-->
            <select class="form-control" id="inputSexo" [(ngModel)] ="paciente.sexo" >
              <option value=""></option>
              <option value="M">M</option>
              <option value="F">F</option>
            </select>
          </div>
        </div>

      </div>


      <div class="row">

        <div class="col-sm-8">
          <div class="form-group">
            <label for="inputEmail" class="control-label">Email</label>
            <input id="inputEmail" type="email" placeholder="Inoforme seu Email" class="form-control" />
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-sm-3">
          <div class="form-group">
            <button type="submit" id="btnEnviar" class="btn btn-success" (click)="cadastrar()">Enviar</button>
          </div>
        </div>
      </div>


    </form>

  </div>
